@model Product

<div class="col-sm-12 col-md-6 col-lg-4 mb-4 mt-4">
    <div class="blog-card">

        <figure class="card-banner">

            <a asp-controller="Home" asp-action="AddToShoppingCart" asp-route-id="@Model.Id">
                <img src="~/images/@Model.ImageFullPath" alt="@Model.Name" loading="lazy" class="w-100 img-fluid">
            </a>

            <div class="card-badge green"> New</div>

            @*<div class="card-actions">

                <a href="#" class="card-action-btn" aria-label="Quick view">
                    <ion-icon name="eye-outline"></ion-icon>
                </a>

                <a asp-controller="Home" asp-action="AddToShoppingCart" asp-route-id="@Model.Id class="card-action-btn cart-btn">
                    <ion-icon name="bag-handle-outline" aria-hidden="true"></ion-icon>AGREGAR </a>

                <a href="#" class="card-action-btn" aria-label="Detalle">
                    <ion-icon name="heart-outline"></ion-icon>
                </a>

            </div>*@

        </figure>

        <div class="card-content">
            <h3 class="h4 card-title">
                <a asp-controller="Home" asp-action="AddToShoppingCart" asp-route-id="@Model.Id">@Model.Name</a>
            </h3>

            <div class="card-price">
                <data value="62.00">@Model.Price Bs.</data>
            </div>
        </div>

    </div>
</div>