@model ShoppingCartViewModel

<section class="container py-5">
    <h3 class="my-5">
        Carrito de compras
    </h3>


    <div class="row gx-3">
        <div class="col-8">
            @foreach (var line in Model.ShoppingCart.ShoppingCartItems)
            {
                <div class="card shopping-cart-card mb-2">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="/images/@line.Product.ImageFullPath" class="img-fluid rounded-start p-2" style="max-width:200px" alt="@line.Product.Name">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h4 class="card-text">@line.Amount x @line.Product.Name</h4>
                                <br>
                                <h5 class="card-text">Talla: @line.ProductSize.Talla.ShortName</h5>
                                <div class="d-flex justify-content-between">
                                    <h2>@line.Product.Price.ToString() Bs.</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="col-4">
            <div class="card shopping-cart-card p-3">
                <div class="row">
                    <h4 class="col">Total:</h4>
                    <h4 class="col text-end">@Model.ShoppingCartTotal.ToString() Bs.</h4>
                </div>
                <hr />
                <div class="text-center d-grid">
                    <a class="btn btn-secondary" asp-controller="Order" asp-action="Checkout"><h4>Confirmar Pedido</h4></a>
                </div>
            </div>
        </div>
    </div>
</section>