@model Product

<h4>Producto</h4>
<hr />
<div class="row">

    <div class="col-lg-5 mb-3">
        
        <img class="bt-5" src="/images/@Model.ImageFullPath" style="max-width:360px;" />
    </div>
    <div class ="col-lg-7 mt-4">
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.InStock)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.InStock)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.IsNew)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.IsNew)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.IsBestSeller)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.IsBestSeller)
            </dd>


            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.PercentageDiscount)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.PercentageDiscount)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.SubCategory.CategoryId)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.SubCategory.Category.Name)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.SubCategoryId)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.SubCategory.Name)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.BrandId)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Brand.Name)
            </dd>

        </dl>
    </div>



</div>

