@model DetailsProductViewModel

<section class="container pt-3">

    <div class="sproduct">
        <div class="row mt-5">
            <div class="col-lg-6 col-md-12 col-12 mb-5">
                @*<img class="image-fluid w-100 pb-1" src="~/images/@Model.Product.ImageFullPath" id="MainImg" alt="" />
                <div class="small-img-group">

                    @foreach (Picture picture in Model.Product.Pictures!)
                    {
                        <div class="small-img-col">
                            <img src="~/images/@picture.PictureName" width="100%" class="small-img" alt="" />
                        </div>
                    }
                </div>*@
                <partial name="_CarouselProducts"></partial>
            </div>
            <div class="col-lg-6 col-md-12 col-12">
                <div class="row">
                    <dt class="col-3">Categoría:</dt>
                    <dd class="col-9">@Model.Product.SubCategory.Category.Name   /    @Model.Product.SubCategory.Name</dd>
                </div>
                <h3 class="mt-1">@Model.Product.Name</h3>
                <div class="d-flex flex-row my-3">
                    <div class="text-warning mb-1 me-2">
                        <i class="fa fa-star estrellas"></i>
                        <i class="fa fa-star estrellas"></i>
                        <i class="fa fa-star estrellas"></i>
                        <i class="fa fa-star estrellas"></i>
                        <i class="fas fa-star-half-alt estrellas"></i>
                        @*<span class="ms-1">
                        4.5
                        </span>*@
                    </div>
                    <span class="text-muted"><i class="fas fa-shopping-basket fa-sm mx-1"></i>@Model.Product.InStock</span>
                    <span class="textStock ms-2" style="color: #7AB8B4;">En stock</span>
                </div>

                <div class="mb-3">
                    <span class="h5">@Model.Product.Price Bs.</span>
                    <span class="text-muted">/Bolivianos</span>
                </div>

                <p>
                    @Model.Product.Description
                </p>

                <hr />

                <div class="row mb-4 contador-talla">
                    <div class="col-sm-12 col-md-7">
                        
                        <label class="mb-2 d-block">Talla</label>
                        <select asp-for="@Model.ProductSizeId" class="form-select sform-control selector-talla text-start border border-secondary" asp-items="@Model.ProductSizes">
                            <option value="">seleccionar talla</option>
                        </select>

                    </div>
                    <!-- col.// -->
                    <div class="col-sm-12 col-md-5  mb-3">
                        <label class="mb-2 d-block">Cantidad</label>
                        <div class="input-group mb-3" style="width: 150px; height:40px;">
                            
                            @*<span id="contar">0</span>*@
                            <button class="btn btn-white border border-secondary px-3 " type="button" id="button-addon1" data-mdb-ripple-color="dark">
                                <i class="fas fa-minus"></i>
                            </button>
                       
                            @*<input asp-for="Amount" type="text" id="contar" class="form-control text-center border border-secondary" placeholder="1" aria-label="Example text with button addon" aria-describedby="button-addon1" />*@
                            <label asp-for="Amount" type="text" id="contar" class="form-control text-center border border-secondary" aria-label="Example text with" aria-describedby="button-addonx" style="font-size:16px;">1</label>
                            <button class="btn btn-white border border-secondary px-3" type="button" id="button-addon2" data-mdb-ripple-color="dark">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div  class="row mb-5">
                    <div class="col-md-6 col-6">
                        <a href="#" class="boton boton-primary " style="font-size:18px;"> <i class="me-1 fa fa-shopping-basket"></i>  <span class="texto-boton">Agregar</span>   </a>
                    </div>
                    <div class="col-md-6 col-6">
                        <a asp-action="Index" class="boton boton-outline " style="font-size:18px;"> <i class="fa fa-undo" aria-hidden="true"></i>  <span class="texto-boton">Regresar</span>  </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
  <script>
      var MainImg = document.getElementById('MainImg');
        var smallimg = document.getElementsByClassName('small-img');

        smallimg[0].onclick = function(){
            MainImg.src = smallimg[0].src;
        }
        smallimg[1].onclick = function () {
            MainImg.src = smallimg[1].src;
        }
        smallimg[2].onclick = function () {
            MainImg.src = smallimg[2].src;
        }
        smallimg[3].onclick = function () {
            MainImg.src = smallimg[3].src;
        }

  </script>

  <script>
        const contador = document.getElementById("contar");
        const sumar = document.getElementById("button-addon2");
        const restar = document.getElementById("button-addon1");
        //const reset = document.getElementById("reset");

        let numero = 1;

        sumar.addEventListener("click", () => {
            numero++;
            contador.innerHTML = numero;
        });

        restar.addEventListener("click", () => {

            if (numero == 0) { }
            else {
                numero--;
                contador.innerHTML = numero;
            }

        });

        //reset.addEventListener("click", () => {
        //    numero = 0;
        //    contador.innerHTML = numero;
        //});

  </script>

  <script>
        (function ($) {

            "use strict";

            var fullHeight = function () {

                $('.js-fullheight').css('height', $(window).height());
                $(window).resize(function () {
                    $('.js-fullheight').css('height', $(window).height());
                });

            };
            fullHeight();

            var carousel = function () {
                $('.home-slider').owlCarousel({
                    loop: true,
                    autoplay: true,
                    margin: 0,
                    animateOut: 'fadeOut',
                    animateIn: 'fadeIn',
                    nav: true,
                    dots: true,
                    autoplayHoverPause: false,
                    items: 1,
                    navText: ["<span class='ion-ios-arrow-back'></span>", "<span class='ion-ios-arrow-forward'></span>"],
                    responsive: {
                        0: {
                            items: 1
                        },
                        600: {
                            items: 1
                        },
                        1000: {
                            items: 1
                        }
                    }
                });

            };
            carousel();

        })(jQuery);
  </script>

}