
@model ProductViewModel
<section class="container seccion">
    <h1>Listado de Productos</h1>

    @if (TempData["mensaje"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["mensaje"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    <div class="row">
        <p>
            <a asp-action="CrearProducto" class="btn btn-success"> <i class="bi bi-plus-circle"></i> Crear nuevo producto</a>
        </p>
    </div>
    <div class="row px-3">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <table class="table tabla-productos">
                <thead>
                    <tr>
                        <th>Imagen</th>
                        <th>Nombre</th>
                        <th>Especificaciones</th>
                        <th>Categoria</th>
                        <th> Precio</th>
                        <th> Stock</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Products)
                    {
                        <tr>
                            <td><img src="@item.ImageUrl" alt="" style="max-width:50px;" /></td>
                            <td> @Html.DisplayFor(modelItem => item.Name)</td>
                            <td class="ellipsis">@item.Description</td>
                            <td> @Html.DisplayFor(modelItem => item.Categoria.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.Price) </td>
                            <td>@Html.DisplayFor(modelItem => item.Stock) </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id" class="iconos"> <i class="bi bi-pencil"></i></a>
                                <a asp-action="Details" asp-route-id="@item.Id" class="iconos"> <i class="bi bi-eye"></i> </a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="iconos"> <i class="bi bi-trash3"></i> </a>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>

        </div>
    </div>

</section>